Package: viewport
Version: 1.0.61
Section: utils
Priority: optional
Architecture: amd64
Maintainer: VNT <zeus.ruffo@icloud.com>
Depends: libqt6core6, libqt6gui6, libqt6qml6, libqt6quick6, libqt6core5compat6, qml6-module-qtquick-controls, qml6-module-qtquick-layouts, qml6-module-qtquick-shapes, qml6-module-qt5compat-graphicaleffects, libasound2
Recommends: fonts-nunito
Description: Entorno grafico ultraligero y ultracustomizable.
